**/__pycache__/
*.egg-info
benchmark_logs/
.isaac-cache/
logs/
notebooks/
checkpoint*
**/*.mp4
uv.lock
/assets/usd_models/
videos/
.gitlab-ci.yml
**/*.pkl

${data}

tmp/
.qwen/
IsaacLab-2.3.2/
.venv
/results.json